#masthead-container.ytd-app {
  position: static !important;
}

#masthead-container.style-scope.ytd-app {
  display: hidden;
}

#page-manager.ytd-app,
ytd-page-manager,
ytd-page-manager#page-manager {
  margin-top: 0px !important;
}
